# Dependencies
node_modules
npm-debug.log*

# Build outputs
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Electron
electron
*.exe
*.dmg
*.deb
release

# Test & Docs
coverage
README.md
